<script>

    const formDelete = document.querySelector("#form-delete");
    const btnDelete = formDelete.querySelector(".button-delete");

    btnDelete.addEventListener("click", (e) => {

      const confirmation = confirm("Deseja excluir ?");

      if(!confirmation){
          e.preventDefault();
       }
       
    })

</script>