
        <div class="item">
         <div>Avatar URL</div>
          <div>
            <input 
            type="text"
            name="avatar"
            placeholder="http://"
            value="{{student.avatar}}"
            >
          </div>
       </div>

       <div class="item">
         <div>Nome completo</div>
          <div>
            <input 
            type="text"
            name="name"
            placeholder="Nome do Aluno"
             value="{{student.name}}"
            >
          </div>
       </div>

       <div class="item">
         <div>E-mail</div>
          <div>
            <input 
            type="email"
            name="email"
            placeholder="E-mail"
            value="{{student.email}}"
            >
          </div>
       </div>

       <div class="item">
         <div>Data de nascimento </div>
          <div>
             <input 
            type="date"
            name="birth"
            value="{{student.birth}}"
            >
          </div>
       </div>

        <div class="item">
         <div>Ano escolar</div>
          <div>
           <select name="degree" >
             <option value="">Escolha uma opção</option>
             <option 
             value="5º ano do ensino fundamental" 
             {% if student.degree == "5º ano do ensino fundamental" %}
             selected
             {%endif%}
             >5º ano do ensino fundamental</option>
             <option 
             value="6º ano do ensino fundamental"
             {% if student.degree == "6º ano do ensino fundamental" %}
             selected
             {%endif%}
             >6º ano do ensino fundamental</option>
             <option
              value="7º ano do ensino fundamental"
             {% if student.degree == "7º ano do ensino fundamental" %}
             selected
             {%endif%}
             >7º ano do ensino fundamental</option>
             <option 
             value="8º ano do ensino fundamental"
              {% if student.degree == "8º ano do ensino fundamental" %}
             selected
             {%endif%}
             >8º ano do ensino fundamental</option>
              <option 
             value="9º ano do ensino fundamental"
              {% if student.degree == "9º ano do ensino fundamental" %}
             selected
             {%endif%}
             >9º ano do ensino fundamental</option>
              <option 
             value="1º ano do ensino médio"
              {% if student.degree == "1º ano do ensino médio" %}
             selected
             {%endif%}
             >1º ano do ensino médio</option>
              <option 
             value="2º ano do ensino médio"
              {% if student.degree == "2º ano do ensino médio" %}
             selected
             {%endif%}
             >2º ano do ensino médio</option>
              <option 
             value="3º ano do ensino médio"
              {% if student.degree == "3º ano do ensino médio" %}
             selected
             {%endif%}
             >3º ano do ensino médio</option>
           </select>
          </div>
       </div>

        <div class="item">
         <div>Carga horária</div>
          <div> 
            <input 
            type="number"
            name="hour"
            value="{{student.hour}}"
            >
          </div>
       </div>
 
    <button type="submit">Salvar</button>