{% extends "layout.njk" %}


{% block content %}
  <div class="card table-container">
    <a href="/students/create" class="btn-novo">Novo</a>
    
    <table width="100%" class="table-list">
      <thead>
        <tr>
          <th>Nome completo</th>
          <th>E-mail</th>
          <th>Ano escolar</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
       {% for student in students %}
        <tr>
          <td class="avatar">
            <img src="{{student.avatar}}" alt="{{student.name}}">
            <span> {{student.name}} </span>
          </td>
          <td>{{student.email}}</td>
          <td>{{student.degree}}</td>
          <td><a href="/students/{{student.id}}">Ver</a></td>
        </tr>
       {%endfor%}
      </tbody>
    </table>
  </div>
{%endblock%}