{% extends "layout.njk" %}


{% block content %}
  <div class="card table-container">
    <a href="/teachers/create" class="btn-novo">Novo</a>
    
    <table width="100%" class="table-list">
      <thead>
        <tr>
          <th>Nome completo</th>
          <th>Acompanhamento</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
       {% for teacher in teachers %}
        <tr>
          <td>{{teacher.name}}</td>
          <td>{{teacher.services}}</td>
          <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
        </tr>
       {%endfor%}
      </tbody>
    </table>
  </div>
{%endblock%}